{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	<link href="{% static 'css/sign.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <title>Teferet | Payment Success</title>
{% endblock %}


{% block content %}


<!-- Title page -->
<div style="margin-top: 150px;">
<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover" style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
    <h2 class="ltext-105 cl0 txt-center">
        ORDER SUCCESS
    </h2>
</section>	



<section class="section-content ">
    <div class="containerSign" id="containerSign" >
          
    
        <div class="form-container sign-in-container">
            <form >
                {% csrf_token %}
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>                    
                        {% for message in messages%}
                        <h5>{{message}}</h5>
                        {% endfor %}                    
                </div>  


    
                <h1>ORDER PAYED SUCCESSFULLY</h1>

              <img src="{% static './images/icons/paymentSuccess.png' %}" style="margin-top: 30px;">               
                
            </form>
            
        </div>


        <div class="overlay-container" >
            <div class="overlay PaymentSuccess" >             
                <div class="overlay-panel overlay-right" >
                    <h1>Thanks you for your order!</h1>                        
                </div>
            </div>
        </div>


    </div>
    
    
</section>



</div>

{% endblock %}


{% block extend_footer %}



<!-- <script src="{% static 'js/UserAuthsAPP/LoginRegisterValidators.js' %}"></script> -->




{% endblock %}
