{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}

<title>Teferet | Order List</title>

{% endblock %}


{% block content %}
<div style="margin-top: 150px;">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover"
		style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			ORDER LIST
		</h2>
	</section>

	{% if OrderList|length == 0 %}
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">

						<h1 style="text-align: center;">ORDER LIST IS EMPTY</h1>
						<a style="text-align: center; width: 20%; margin-left: 40%; margin-top: 10px;"
							href="{% url 'ShopAPP:Products' %}"
							class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
							SHOP
						</a>
					</div>
				</div>


			</div>
		</div>
	</form>
	{% else %}
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart" id="wishListDetails">
								<tr class="table_head">
									<th class="column-1" style="width: 15%;">Date</th>
									<th class="column-2" style="width: 15%;padding-left: 10px;">Payment Mode</th>
									<th class="column-3" style="width: 15%;">Payment Status</th>
									<th class="column-4" style="width: 15%;padding-left: 30px;">Delivery Status</th>
									<th class="column-5" style="width: 20%; padding-left: 30px;">Total Amount</th>
								</tr>
								{% for order in OrderList %}
								<tr class="table_row">
									<td class="column-1">
										{{order.details.createdDate|date:"d"}}/{{order.details.createdDate|date:"M"}}
										{{order.details.createdDate|date:"Y"}}</td>

									{% if order.details.PaymentMode == "PayPal" %}
									<td class="column-2"><img src="{% static './images/icons/paypal.png' %}"
											style="height: 55px;"></td>
									{% elif order.details.PaymentMode == "CreditCard" %}
									<td class="column-2"><img src="{% static './images/icons/creditcart.png' %}"
											style="height: 25px;"></td>
									{% endif %}

									<td class="column-3">{{order.details.PaymentStatus}}</td>
									<td class="column-4">{{order.status}}</td>
									<td class="column-5" style="width: 20%; padding-left: 30px;">
										{{order.details.totalAmout}} $
									</td>
									<td class="column-6">
										<a id="viewCartLink"
											href="{% url 'OrderAPP:ViewOrderDetails' pid=order.details.id %}"
											class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
											View Order
										</a>
									</td>
								</tr>
								{% endfor %}

							</table>
						</div>

					</div>
				</div>


			</div>
		</div>
	</form>
	{% endif %}
</div>
{% endblock %}


{% block extend_footer %}



{% endblock %}