{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	
<title>Teferet | Order List</title>

{% endblock %}


{% block content %}
<div style="margin-top: 150px;">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover" style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			ORDER LIST
		</h2>
	</section>	

	{% if Products|length == 0 %}
		<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							
							<h1 style="text-align: center;">ORDER LIST IS  EMPTY</h1>						
							<a style="text-align: center; width: 20%; margin-left: 40%; margin-top: 10px;" href="{% url 'ShopAPP:Products' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
								SHOP							
							</a>								
						</div>
					</div>

				
				</div>
			</div>
		</form>
	{% else %}
		<!-- Shoping Cart -->
		<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<div class="wrap-table-shopping-cart">
								<table class="table-shopping-cart" id="wishListDetails">
									<tr class="table_head">
										<th class="column-1" style="width: 15%;">Product</th>										
										<th class="column-2" style="width: 15%;"></th>		
										<th class="column-3" style="width: 15%;padding-left: 10px;">Price</th>			
										<th class="column-4" style="width: 15%;">Quantity</th>			
										<th class="column-5" style="width: 15%;padding-left: 30px;">Sub Total</th>			
										
									</tr>														
										{% for item in Products %}
											<tr class="table_row">
												<td class="column-1">
													<a href="{% url 'ShopAPP:ProductDetails' pid=item.product.pid %}">
														<div class="how-itemcart1">
															<img src="{{item.product.image.url}}" alt="IMG">
														</div>
													</a>
												</td>
												
												<td class="column-2"><a href="{% url 'ShopAPP:ProductDetails' pid=item.product.pid %}">{{item.product.name}}</a></td>																							
												<td class="column-3">{{item.product.price}}</td>												
												<td class="column-4">{{item.quantity}}</td>
												<td class="column-5">{{item.sub_total}} $</td>
												
												
											</tr>
										{% endfor %}								

								</table>
							</div>
							<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm" style="margin-left: 77%; background-color: rgb(1, 46, 1);color: rgb(245, 237, 237);">								
									 {{Total}} $
							</div>

						</div>
					</div>

				
				</div>
			</div>
		</form>		
	{% endif %}
</div>	
{% endblock %}


{% block extend_footer %}



{% endblock %}