{% block extend_head %}

<style>
    datalist {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        /* writing-mode: vertical-rl; */
        width: 200px;
        font-size: 13px;
    }

    option {
        padding: 0;
    }

    input[type="range"] {
        width: 200px;
        margin: 0;
        accent-color: rgb(3, 75, 35);
    }
</style>

{% endblock %}


<div class="flex-w flex-sb-m p-b-52">


    <div class="flex-w flex-c-m m-tb-10">
        <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
            <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
            <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            Filter
        </div>

        <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
            <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
            <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
            Search
        </div>
    </div>

    <!-- Search product -->
    <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <div class="bor8 dis-flex p-l-15">
            <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                <i class="zmdi zmdi-search"></i>
            </button>

            <input class="mtext-107 cl2 size-114 plh2 p-r-15 SearchProducts" type="text" name="search-product"
                placeholder="Search">
        </div>
    </div>

    <!-- Filter -->
    <div class="dis-none panel-filter w-full p-t-10">
        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
            <div class="filter-col1 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    Sort By
                </div>

                <ul>
                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                            Default
                        </a>
                    </li>

                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                            Popularity
                        </a>
                    </li>

                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                            Average rating
                        </a>
                    </li>

                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                            Newness
                        </a>
                    </li>

                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                            Price: Low to High
                        </a>
                    </li>

                    <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                            Price: High to Low
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filter-col2 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    Price
                </div>

                <section class="rangeWrap" class="filter-col2 p-r-15 p-b-27" id="priceSlider" data-cid="{{cid}}">

                    <input id="rangePrice" type="range" list="ticks" style="width: 100%; margin-top: 31px;"
                        min="{{min_max_price.price__min|floatformat:1}}"
                        max="{{min_max_price.price__max|floatformat:1}}" value="{{min_max_price.price__max}}"
                        oninput="max_price.value=this.value" />

                    <datalist id="ticks" style="width: 100%;">
                        <option value="{{min_max_price.price__min|floatformat:1}}"
                            label="{{min_max_price.price__min|floatformat:1}}$">
                        </option>

                        <option value="{{min_max_price.price__max|floatformat:1}}"
                            label="{{min_max_price.price__max|floatformat:1}}$">
                        </option>
                    </datalist>



                    <input class="mtext-104 cl3 txt-center num-product" id="max_price"
                        min="{{min_max_price.price__min}}" max="{{min_max_price.price__max}}"
                        value="{{min_max_price.price__max}}" placeholder="Max Price"
                        style="margin-left: 35%;  width:25%; margin-top: 13px;" onkeyup="rangePrice.value=this.value" />

                </section>


            </div>

            <div class="filter-col3 p-r-15 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    Color
                </div>

                <ul>

                    {% for item in colorsAvaillable %}
                    <li class="p-b-6" style="margin-left: 23%;margin-top:5%; ">
                        <input type="checkbox" class="filter-checkbox-color"
                            style="display: inline-block; size: 45px; width: 21px; height: 21px; accent-color: rgb(2, 71, 30);"
                            , value="{{item.id}}" data-filter="color" />

                        <span class="fs-15 lh-12 m-r-6" style="color:{{item.color}};" style="display: inline-block;">
                            <i class="zmdi zmdi-circle" style="font-size: 30px; margin-left: 10%;"></i>
                        </span>

                        <h5 style="display: inline-block;">
                            {{item.name}}
                        </h5>
                    </li>
                    {% endfor %}

                </ul>
            </div>

            <div class="filter-col4 p-b-27">
                <div class="mtext-102 cl2 p-b-15">
                    Gender
                </div>

                <ul>
                    {% for item in gendersAvaillable %}
                    <li class="p-b-6" style="margin-left: 23%;margin-top:5%; ">
                        <input type="checkbox" class="filter-checkbox-gender"
                            style="display: inline-block; size: 45px; width: 21px; height: 21px; accent-color: rgb(2, 71, 30);"
                            , value="{{item.id}}" data-filter="gender" />

                        <h5 style="display: inline-block;">
                            {{item.name}}
                        </h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="mtext-102 cl2 p-b-15">

        </div>
        <button type="submit" class="btn btn-primary dropdown" id="ApplyPriceFilterButton"
            style="margin-top:15px;  margin-left: 94%; font-size: larger;">
            Apply
        </button>
    </div>
</div>


{% block extend_footer %}
<script>

    $("#priceSlider").on("input", ".num-product", function (e) {
        this.value = this.value
            .replace(/[^\d]+|^0+(?!$)/g, "")
            .replace(/(\..*)\./g, "$1");
    });


    $("#max_price").on("blur", function () {
        let minPrice = $(this).attr("min")
        let maxPrice = $(this).attr("max")
        let currentPrice = $(this).val()

        if (currentPrice < parseInt(minPrice) || currentPrice > parseInt(maxPrice)) {
            let msg = "Max Price must be between " + minPrice + "$ and " + maxPrice + "$"
            swal("Oops", msg, "error")
            $(this).val(minPrice)
            $("#rangePrice").val(minPrice)
            $(this).focus()
            return false
        }
    });

    $(document).ready(function () {
        $("#ApplyPriceFilterButton").on("click", function () {
            let minPrice = $("#max_price").attr("min")
            let maxPrice = $("#max_price").val()
            let cid = $("#priceSlider").data('cid');

            let filterOject = {}
            filterOject.minPrice = minPrice
            filterOject.maxPrice = maxPrice
            let url = "{% url 'ShopAPP:FiltersProduct' 'cid'  %}".replace('cid', cid)


            $(".filter-checkbox-color").each(function () {
                let filter_value = $(this).val()
                filterOject["color"] = Array.from(document.querySelectorAll('input[data-filter=color]:checked')).map(function (elt) {
                    return elt.value
                })
            })


            $(".filter-checkbox-gender").each(function () {
                let filter_value = $(this).val()
                filterOject["gender"] = Array.from(document.querySelectorAll('input[data-filter=gender]:checked')).map(function (elt) {
                    return elt.value
                })
            })


            $.ajax({
                url: url,
                data: filterOject,
                dataType: 'json',
                success: function (response) {
                    $("#ProductListFiltered").empty()
                    $("#NotFoundProduct").empty()
                    if (response.size === 0) {


                        var details = '<form class=" bg0 p-t-23 p-b-140">'
                        details += '<div class="container">'
                        details += '<div class="row">'
                        details += '<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">'
                        details += '<div class="m-l-25 m-r--38 m-lr-0-xl">'
                        details += '<h1 style="text-align: center; margin-bottom: 30px;">PRODUCTS NOT FOUND</h1>'
                        details += '</div>'
                        details += '</div>'
                        details += '</div>'
                        details += '</div>'
                        details += '</form>'
                        $('#NotFoundProduct').append(details);

                    }
                    console.log(response.data)
                    $("#ProductListFiltered").html(response.data)
                }
            })


        })
    })








    $('.SearchProducts').on('keypress', function (e) {

        if (e.key === "Enter") {
            e.stopPropagation();
            e.stopImmediatePropagation();
            e.preventDefault();

            var searchWord = $("[name='search-product']").val();
            let cid = $("#priceSlider").data('cid');
            let url = "{% url 'ShopAPP:SearchProduct' 'cid' 'searchWord'  %}".replace('searchWord', searchWord).replace('cid', cid);

            // AJAX request
            $.ajax({
                url: url,
                type: 'get',
                dataType: 'json',
                success: function (response) {

                    if (response.length === 0) {
                        $("#productsList").empty()
                        $("#load-more").empty()
                        $("#NotFoundProduct").empty()


                        var details = '<form class=" bg0 p-t-23 p-b-140">'
                        details += '<div class="container">'
                        details += '<div class="row">'
                        details += '<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">'
                        details += '<div class="m-l-25 m-r--38 m-lr-0-xl">'
                        details += '<h1 style="text-align: center; margin-bottom: 30px;">PRODUCTS NOT FOUND</h1>'
                        details += '</div>'
                        details += '</div>'
                        details += '</div>'
                        details += '</div>'
                        details += '</form>'
                        $('#NotFoundProduct').append(details);

                    }
                    else {
                        $("#productsList").empty()
                        $("#NotFoundProduct").empty()
                        $("#loadMoreId").empty()

                        var details = '<div class="flex-c-m flex-w w-full p-t-45" id="loadMoreId">'
                        details += '<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">'
                        details += 'Load More</a>'
                        details += '</div>'
                        $('#loadMoreId').append(details);

                        $.each(response, function (index, item) {


                            var details = '<li class="product-item">'
                            details += '<div class="product-card" tabindex="0">'
                            details += '<figure class="card-banner">'
                            details += '<img src="' + item.productImage + '" width="312" height="350" loading="lazy"class="image-contain">'
                            details += '<div class="card-badge" style="background-color:  rgb(2, 61, 2);font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">New</div>'
                            details += '<ul class="card-action-list">'
                            details += '<li class="card-action-item">'
                            details += '<a href="#" class="js-addcart-home"data-id=' + item.productId + '>'
                            details += '<button class="card-action-btn" aria-labelledby="card-label-1">'
                            details += '<ion-icon name="cart-outline" style="display: block;"></ion-icon>'
                            details += '</button>'
                            details += '<div class="card-action-tooltip" id="card-label-1" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Add to Cart</div>'
                            details += '</a>'
                            details += '</li>'
                            details += '<li class="card-action-item">'
                            details += '<a href="#" class="js-addwish-b2">'
                            details += '<button class="card-action-btn" aria-labelledby="card-label-2">'
                            details += '<ion-icon name="heart-outline"  style="display: block;"></ion-icon>'
                            details += '</button>'
                            details += '<div class="card-action-tooltip" id="card-label-2" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Add to Whishlist</div>'
                            details += '</a>'
                            details += '</li>'
                            details += '<li class="card-action-item">'
                            details += '<a href="#" class="js-show-modal1" data-id=' + item.productId + '>'
                            details += '<button class="card-action-btn" aria-labelledby="card-label-3">'
                            details += '<ion-icon name="eye-outline"  style="display: block;"></ion-icon>'
                            details += '</button>'
                            details += '<div class="card-action-tooltip" id="card-label-3" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Quick View</div>'
                            details += '</a>'
                            details += '</li>'
                            details += '<li class="card-action-item">'
                            details += '<button class="card-action-btn" aria-labelledby="card-label-4">'
                            details += '<ion-icon name="repeat-outline"  style="display: block;"></ion-icon>'
                            details += '</button>'
                            details += '<div class="card-action-tooltip" id="card-label-4" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Compare</div>'
                            details += '</li>'
                            details += '</ul>'
                            details += '</figure>'
                            details += '<div class="card-content">'
                            details += '<h6 class="h6 card-title ">'
                            details += '<a href="#" >' + item.category + '</a>'
                            details += '</h6>'
                            details += '<h3 class="h3 card-title ">'
                            let url = "{% url 'ShopAPP:ProductDetails' 'id'  %}".replace('id', item.productId);
                            details += '<a href=' + url + ' class="js-name-b2">' + item.productName + '</a>'
                            details += '</h3>'
                            details += '<data class="card-price" value="' + item.productPrice + '">$' + item.productPrice + '</data>'
                            details += '</div>'
                            details += '</div>'
                            details += '</li>'

                            $('#productsList').append(details);

                        })
                    }
                }
            })
        }
    });


</script>
{% endblock %}