{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	<link href="{% static 'css/sign.css' %}" rel="stylesheet" type="text/css"/>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">  
    <title>Teferet | Edit Profil</title>  
{% endblock %}


{% block content %}

<!-- Title page -->
<div style="margin-top: 150px;">
    <section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover" style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
        <h2 class="ltext-105 cl0 txt-center">
            EDIT PROFIL
        </h2>
    </section>	
<section class="section-content ">
    <div class="containerSign" id="containerSign" >
          
    
        <div class="form-container sign-in-container">
            <form action="{% url 'UserAuthsAPP:EditProfile' %}" method="post">
                {% csrf_token %}
               
                <h1 style="font-size: 30px;">Update Information</h1>

                <div class="input-control">                
                    {{form.first_name}}  
                    <div class="error"></div>
                </div>                
    
                <div class="input-control">                
                    {{form.last_name}}    
                    <div class="error"></div>
                </div>
    
                <div class="input-control">                
                    {{form.email}}      
                    <div class="error"></div>
                </div>
    
                <div class="input-control">                
                    {{form.username}}        
                    <div class="error"></div>
                </div>   

    
                <button type="submit"  class="btn btn-primary dropdown" id="SignupButton" style="margin-top: 10px;">
                    Update
                </button>
            </form>
            
        </div>

        <div class="overlay-container" >
            <div class="overlay ChangePassword" >             
                <div class="overlay-panel overlay-right" >
                    <h1>What's new about you ?</h1>
                    <p>Update your personal Informations</p>            
                  
                </div>
            </div>
        </div>


    </div>
    
    
    </section>
    
</div> 
{% endblock %}




{% block extend_footer %}
<script src="{% static 'js/UserAuthsAPP/ResetPasswordValidators.js' %}"></script>

{% endblock %}
