{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	<link href="{% static 'css/sign.css' %}" rel="stylesheet" type="text/css"/>    
    
{% endblock %}


{% block content %}


<section class="section-content ">
    <div class="containerSign" id="containerSign" >
          
    
        <div class="form-container sign-in-container">
            <form action="{% url 'UserAuthsAPP:ForgotPassword' %}" method="post">
                {% csrf_token %}
                <div>
                    <style>
                        h5{
                            color: red;
                        }
                    </style>                    
                        {% for message in messages%}
                        <h5>{{message}}</h5>
                        {% endfor %}                    
                </div>  
    
                <h1>Reset Password</h1>
                
                
                <div class="input-control">                                
                    <input type="email"  placeholder="* Your Email Address..." name="email" id= "id_EmailResetPassword" required>                      
                    <div class="error"></div>   
                </div>    
                
                
                
                <button type="submit" class="btn btn-primary dropdown" id="ResetPasswordButton" style="margin-top: 10px;">
                    Send
                </button>
            </form>
            
        </div>


        <div class="overlay-container" >
            <div class="overlay ForgotPassword" >             
                <div class="overlay-panel overlay-right" >
                    <h1>Hello, Friend!</h1>
                    <p>Hope to see you soon as possible</p>            
                  
                </div>
            </div>
        </div>


    </div>
    
    
    </section>
    
    
{% endblock %}




{% block extend_footer %}
<script src="{% static 'js/UserAuthsAPP/ForgotPasswordValidator.js' %}"></script>

{% endblock %}
