{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	<link href="{% static 'css/sign.css' %}" rel="stylesheet" type="text/css"/>    
    
{% endblock %}


{% block content %}


<section class="section-content ">
    <div class="containerSign" id="containerSign" >
        <div class="form-container sign-up-container">
    
        </div>
    
    
        <div class="form-container sign-in-container">
            <form action="{% url 'UserAuthsAPP:ForgotPassword' %}" method="post">      
                <h1>Reset Password</h1>                          
                <div>
                    <style>
                        h5{
                            color: green;
                            font-size: 30px;
                            border-radius: 15px;     
                            background-color: rgba(118, 236, 147, 0.418);                       
                            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                            border: solid;
                        }
                    </style>                    
                        {% for message in messages%}
                        <h5>{{message}}</h5>
                        {% endfor %}                    
                </div>  
    
            </form>
        </div>


        <div class="overlay-container" >
            <div class="overlay ForgotPassword" >             
                <div class="overlay-panel overlay-right" >
                    <h1>Hello, Friend!</h1>
                    <p>Hope to see you soon as possible</p>        
                </div>
            </div>
        </div>


    </div>
    
    
    </section>
    
    
{% endblock %}




{% block extend_footer %}
<script src="{% static 'js/UserAuthsAPP/ForgotPasswordValidator.js' %}"></script>

{% endblock %}
