{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	<link href="{% static 'css/sign.css' %}" rel="stylesheet" type="text/css"/>    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">  
    <title>Teferet | View Address/Contact </title>  
{% endblock %}


{% block content %}

<!-- Title page -->
<div style="margin-top: 150px;">
    <section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover" style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
        <h2 class="ltext-105 cl0 txt-center">
            VIEW ADDRESS / CONTACT
        </h2>
    </section>	
<section class="section-content ">
    <div class="containerSign" id="containerSign" >
          
    
        <div class="form-container sign-in-container">
            <form action="{% url 'UserAuthsAPP:EditAddress' %}">                
               
                <h1 style="font-size: 35px;">Address/Contact</h1>
                
                <fieldset disabled>   
                    
                    <div class="input-control" style="margin-top: 20px;">    
                        <label ><strong>Date of Birth</strong></label>               
                        {{ProfileForm.dateOfBirth}}                                    
                        <div class="error"></div>
                    </div>    

                    <div class="input-control">       
                        <label ><strong>Phone Number</strong></label>              
                        {{ProfileForm.phoneNumber}}                       
                        <div class="error"></div>
                    </div> 
                                   
                    <div class="input-control">  
                        <label ><strong>Address</strong></label>                            
                        {{ProfileForm.address}}                                    
                        <div class="error"></div>
                    </div>          
                    
                    <div class="input-control">       
                        <label ><strong>Post Code</strong></label>                       
                        {{ProfileForm.post_code}}                                    
                        <div class="error"></div>
                    </div>          
                    
                    <div class="input-control">                
                        {{ProfileForm.town}}                                    
                        <div class="error"></div>
                    </div>          
                    
                    <div class="input-control">    
                        <label ><strong>Country</strong></label>                          
                        {{ProfileForm.country}}                                    
                        <div class="error"></div>
                    </div>         
                    
                    <div class="input-control">   
                        <label ><strong>Profile Image</strong></label>                    
                        {{ProfileForm.profileImg}}                       
                        <div class="error"></div>
                    </div> 
                     
                </fieldset>  
                <br>                
                    <button class="btn btn-primary dropdown" id="SignupButton" style="margin-top: 10px;">
                        Update
                    </button>                
            </form>
            
        </div>


        <div class="overlay-container" >
            <div class="overlay ForgotPassword" >             
                <div class="overlay-panel overlay-right" >
                    <h1>Security is a great Key!</h1>
                    <p>Change your Password oftenly</p>            
                  
                </div>
            </div>
        </div>


    </div>
    
    
    </section>
    
</div> 
{% endblock %}




{% block extend_footer %}
<script src="{% static 'js/UserAuthsAPP/ResetPasswordValidators.js' %}"></script>

{% endblock %}
