{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
<title>Teferet | Accessories</title>
{% endblock %}


{% block content %}
<div style="margin-top: 150px;">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover"
		style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			ACCESSORIES
		</h2>
	</section>



	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Accessories
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bracelet">
						Bracelet
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".necklace">
						NeckLace
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".ring">
						Ring
					</button>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15 SearchAccessoriesProducts" type="text"
							name="search-product" placeholder="Search">
					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Popularity
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Average rating
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$200.00+
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										White
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Tags
							</div>

							<div class="flex-w p-t-4 m-r--5">
								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Fashion
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Lifestyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Denim
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Streetstyle
								</a>

								<a href="#"
									class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									Crafts
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="NotFoundProduct">
			</div>

			{% include 'ShopAPP/Partials/PartialProductsList.html' %}


		</div>
	</section>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<!-- <i class="zmdi zmdi-chevron-up"></i> -->
			<ion-icon name="arrow-up-outline"></ion-icon>
		</span>

	</div>





	<div class="modal-body">

	</div>



</div>



<script>

	$('.SearchAccessoriesProducts').on('keypress', function (e) {

		if (e.key === "Enter") {
			e.stopPropagation();
			e.stopImmediatePropagation();
			e.preventDefault();

			var searchWord = $("[name='search-product']").val();
			let url = "{% url 'ShopAPP:SearchProduct' 'Accessories' 'searchWord'  %}".replace('searchWord', searchWord);

			// AJAX request
			$.ajax({
				url: url,
				type: 'get',
				dataType: 'json',
				success: function (response) {

					if (response.length === 0) {
						$("#productsList").empty()
						$("#loadMoreId").empty()
						$("#NotFoundProduct").empty()


						var details = '<form class=" bg0 p-t-23 p-b-140">'
						details += '<div class="container">'
						details += '<div class="row">'
						details += '<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">'
						details += '<div class="m-l-25 m-r--38 m-lr-0-xl">'
						details += '<h1 style="text-align: center; margin-bottom: 30px;">PRODUCTS NOT FOUND</h1>'
						details += '</div>'
						details += '</div>'
						details += '</div>'
						details += '</div>'
						details += '</form>'
						$('#NotFoundProduct').append(details);

					}
					else {
						$("#productsList").empty()
						$("#NotFoundProduct").empty()
						$("#loadMoreId").empty()

						var details = '<div class="flex-c-m flex-w w-full p-t-45" id="loadMoreId">'
						details += '<a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">'
						details += 'Load More</a>'
						details += '</div>'
						$('#loadMoreId').append(details);

						$.each(response, function (index, item) {


							var details = '<li class="product-item">'
							details += '<div class="product-card" tabindex="0">'
							details += '<figure class="card-banner">'
							details += '<img src="' + item.productImage + '" width="312" height="350" loading="lazy"class="image-contain">'
							details += '<div class="card-badge" style="background-color:  rgb(2, 61, 2);font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">New</div>'
							details += '<ul class="card-action-list">'
							details += '<li class="card-action-item">'
							details += '<a href="#" class="js-addcart-home"data-id=' + item.productId + '>'
							details += '<button class="card-action-btn" aria-labelledby="card-label-1">'
							details += '<ion-icon name="cart-outline" style="display: block;"></ion-icon>'
							details += '</button>'
							details += '<div class="card-action-tooltip" id="card-label-1" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Add to Cart</div>'
							details += '</a>'
							details += '</li>'
							details += '<li class="card-action-item">'
							details += '<a href="#" class="js-addwish-b2">'
							details += '<button class="card-action-btn" aria-labelledby="card-label-2">'
							details += '<ion-icon name="heart-outline"  style="display: block;"></ion-icon>'
							details += '</button>'
							details += '<div class="card-action-tooltip" id="card-label-2" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Add to Whishlist</div>'
							details += '</a>'
							details += '</li>'
							details += '<li class="card-action-item">'
							details += '<a href="#" class="js-show-modal1" data-id=' + item.productId + '>'
							details += '<button class="card-action-btn" aria-labelledby="card-label-3">'
							details += '<ion-icon name="eye-outline"  style="display: block;"></ion-icon>'
							details += '</button>'
							details += '<div class="card-action-tooltip" id="card-label-3" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Quick View</div>'
							details += '</a>'
							details += '</li>'
							details += '<li class="card-action-item">'
							details += '<button class="card-action-btn" aria-labelledby="card-label-4">'
							details += '<ion-icon name="repeat-outline"  style="display: block;"></ion-icon>'
							details += '</button>'
							details += '<div class="card-action-tooltip" id="card-label-4" style="font-family: var(--ff-josefin-sans); font-size: 10px;scroll-behavior: smooth;">Compare</div>'
							details += '</li>'
							details += '</ul>'
							details += '</figure>'
							details += '<div class="card-content">'
							details += '<h6 class="h6 card-title ">'
							details += '<a href="#" >' + item.category + '</a>'
							details += '</h6>'
							details += '<h3 class="h3 card-title ">'
							let url = "{% url 'ShopAPP:ProductDetails' 'id'  %}".replace('id', item.productId);
							details += '<a href=' + url + ' class="js-name-b2">' + item.productName + '</a>'
							details += '</h3>'
							details += '<data class="card-price" value="' + item.productPrice + '">$' + item.productPrice + '</data>'
							details += '</div>'
							details += '</div>'
							details += '</li>'

							$('#productsList').append(details);

						})
					}
				}
			})
		}
	});




</script>


{% endblock %}


{% block extend_footer %}


{% endblock %}