{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
<title>Teferet | All Cosmetics</title>
{% endblock %}


{% block content %}
<div style="margin-top: 150px;">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover"
		style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			COSMETICS
		</h2>
	</section>



	<!-- Product -->
	<section class="bg0 p-t-23 p-b-140">
		<div class="container">
			{% include 'ShopAPP/Partials/PartialFilterSearch.html' %}

			<div id="NotFoundProduct">
			</div>

			<div id="ProductListFiltered">
				{% include 'ShopAPP/Partials/PartialProductsList.html' %}
			</div>
		</div>
	</section>



	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<!-- <i class="zmdi zmdi-chevron-up"></i> -->
			<ion-icon name="arrow-up-outline"></ion-icon>
		</span>

	</div>





</div>

<div class="modal-body">

</div>


{% endblock %}