{% extends 'Base.html' %}
{% load static %}

{% block extend_head %}
	
<title>Teferet | WishList Details</title>

{% endblock %}


{% block content %}
<div style="margin-top: 150px;">
	<!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92  ContactCover" style="background-image: url('{% static './images/banners/Contact.jpg' %}');">
		<h2 class="ltext-105 cl0 txt-center">
			WISHLIST DETAILS  
		</h2>
	</section>	

	{% if WhishList|length == 0 %}
		<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							
							<h1 style="text-align: center;">WISHLIST IS  EMPTY</h1>						
							<a style="text-align: center; width: 20%; margin-left: 40%; margin-top: 10px;" href="{% url 'ShopAPP:Products' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
								SHOP							
							</a>								
						</div>
					</div>

				
				</div>
			</div>
		</form>
	{% else %}
		<!-- Shoping Cart -->
		<form class="bg0 p-t-75 p-b-85">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
						<div class="m-l-25 m-r--38 m-lr-0-xl">
							<div class="wrap-table-shopping-cart">
								<table class="table-shopping-cart" id="wishListDetails">
									<tr class="table_head">
										<th class="column-1">Product</th>										
									</tr>														
										{% for wish in WhishList %}
											<tr class="table_row">
												<td class="column-1">
													<div class="how-itemcart1">
														<img src="{{wish.productImage}}" alt="IMG">
													</div>
												</td>
												<td class="column-2">{{wish.productName}}</td>
												<td class="column-3">													
														<a id="viewCartLink" href="{% url 'ShopAPP:ProductDetails' pid=wish.productId %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
															View Product								
														</a>													
												</td>									
												<td class="column-4">													
													<input class="DeleteWishProduct flex-c-m stext-101 cl0 size-101 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10" type="button" value="Remove" data-id={{ wish.productId }} style="font-weight: bold;">												
												</td>
											</tr>
										{% endfor %}								

								</table>
							</div>

							<div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">							
								
								<a id="viewCartLink" href="{% url 'ShopAPP:RemoveAllWishes' %}" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
									Remove All								
								</a>

							</div>
						</div>
					</div>

				
				</div>
			</div>
		</form>		
	{% endif %}
</div>	
{% endblock %}


{% block extend_footer %}

<!-- PayPal Script -->
<script src="https://www.paypal.com/sdk/js?client-id=Ab0Iul3qnV1wAqTL9W5bJAA3DgcOuM0rtKAZdZtsE0cJXzZz_x6uKnKa2Yx-fPmlnox3Gbwx-Ee2AkBZ&currency=USD&disable-funding=card"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<script>

var DATA = []

$( document ).ready(function() {
	let url = "{% url 'ShopAPP:ShoppingDetails' %}"
    $.ajax({
								url: url,
								type: 'get',
								dataType: 'json', 		
								success: function(data)
								{  	
											DATA = data	
								}
			})
	});

	$('#wishListDetails').on('click','.DeleteWishProduct', function(e){


			e.stopPropagation();		
            e.stopImmediatePropagation();      	
			
			var productId = $(this).data('id');
			let url = "{% url 'ShopAPP:RemoveWishProduct' 'pid' %}".replace('pid', productId);

			// // AJAX request
			$.ajax({
				url: url,
				type: 'get',		
				success: function(response){   					
						$("#favNum").attr("data-notify",response);							

						let url = "{% url 'ShopAPP:WishList' %}";
						$.ajax({
								url: url,
								type: 'get',
								dataType: 'json', 		
								success: function(data){  	
											DATA = data
											$("#wishListDetails").empty()

											var tablesTitles = $(
															'<tr class="table_head">'+
																'<th class="column-1">Product</th>'+
															'</tr>'
											)
											$("#wishListDetails").append(tablesTitles)																		
											
											if(data.length === 0)
											{
												window.location.href="/Shop/WishList/";
											}
											else
											{											
												$.each(data, function(index, item) {  
												var url = "{% url 'ShopAPP:ProductDetails' 'pip' %}".replace('pid', pid=item.productId);
                                            	var details = $( 
												'<tr class="table_row">'+
													'<td class="column-1">'+
														'<div class="how-itemcart1">'+
															'<img src="'+item.productImage+'" alt="IMG">'+
														'</div>'+
													'</td>'+
													'<td class="column-2">'+item.productName+'</td>'+
													'<td class="column-3">'+
														'<a id="viewCartLink"  class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10" href='+url+'>'+
														'View Product</a>'+													
													'</td>'+		
													'<td class="column-4">'+
													'<input class="DeleteWishProduct flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10" type="button" value="Remove" data-id='+ item.productId+ '>'+
													'</td>'+													
												'</tr>');                                                												
                                            	$('#wishListDetails').append(details); 
											});											
											}
										}                       
                                    });
				}
			});
	});
	

</script>


{% endblock %}